[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/web-indent"]
	path = bundle/web-indent
	url = git://github.com/garbas/vim-web-indent.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = https://github.com/ewiplayer/vim-scala.git
[submodule "bundle/colors"]
	path = bundle/colors
	url = https://github.com/spf13/vim-colors.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
